USE [master]
GO
/****** Object:  Database [PetInfo]    Script Date: 6/12/2020 10:30:26 AM ******/
CREATE DATABASE [PetInfo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PetInfo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PetInfo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PetInfo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PetInfo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PetInfo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PetInfo]
GO
/****** Object:  Table [dbo].[pet]    Script Date: 6/12/2020 10:30:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[petname] [nvarchar](30) NOT NULL,
	[familyname] [nvarchar](30) NOT NULL,
	[pettype] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[pet] ON 

INSERT [dbo].[pet] ([id], [petname], [familyname], [pettype]) VALUES (1, N'Bella', N'Fulton', N'Dog')
INSERT [dbo].[pet] ([id], [petname], [familyname], [pettype]) VALUES (2, N'Primrose', N'Fulton', N'Cat')
INSERT [dbo].[pet] ([id], [petname], [familyname], [pettype]) VALUES (3, N'Penny', N'Fulton', N'Cat')
SET IDENTITY_INSERT [dbo].[pet] OFF
USE [master]
GO
